@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/*=====================Nav Bar=================*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

.kontainer{
    width: 100%;
    min-height: 20vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 130px;
    cursor: pointer;
    margin: 30px 0;
}


.menu-icon{
    width: 35px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
}
nav ul li a:hover{
    color: #ff5ea2;
}
.container{
    position: absolute;
    left: 20%;
    margin: 0;
    padding: 0;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.1);
    background-color: #F7fbfb;
    height: 100vh;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
}
.title::before{
    content: "";
    position: absolute;
    top: 8.5vh;
    height: 3px;
    width: 50px;
    background: #8381ff;
}
.container form .u-details{
    display: flex;
    flex-direction: column;
}
form .u-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.u-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.u-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}
.u-details .input-box-area textarea{
    height: 100px;
    width: 100%;
    resize: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}
.u-details .input-box-file{
    height: 15vh;
}
.u-details .input-box-file input[type="file"]{
    visibility: hidden;
}
.u-details .input-box-file img{
    display: flex;
    margin-top: 5px;
    margin-left: 50%;
    width: 50px;
    align-items: center;
    border-width: 100%;
    cursor: pointer;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #8381ff;
}
form .button input:hover{
    background-color: #000;
}





@media only screen and (max-width: 700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#fff, #8381ff);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
        text-shadow: 2px 2px 4px #000000;
    }
    .logo{
        width: 85px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
       overflow: hidden;
       transition: 0.5s; 
    }
}